<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588455417753-r88n91vseak026pmipvnpjq1tkgq3g4g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588455417753-r88n91vseak026pmipvnpjq1tkgq3g4g</string>
	<key>API_KEY</key>
	<string>AIzaSyCTloMNyDsCPtLC3N6XIXWjIzJqc0YRRN0</string>
	<key>GCM_SENDER_ID</key>
	<string>588455417753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hnos3.app.inventory</string>
	<key>PROJECT_ID</key>
	<string>inventory-app-c5fbf</string>
	<key>STORAGE_BUCKET</key>
	<string>inventory-app-c5fbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588455417753:ios:c78597637fcf215dc5a508</string>
</dict>
</plist>